.tours-form__submit-button {
  min-width: 235px;
  min-height: 58px;
  border: 0;
  border-radius: 10px;
  padding: 15px 30px;
  margin-right: 26px;
  background-color: #286562;
  color: #FFFFFF;
  cursor: pointer;
}

.tours-form__submit-button:hover {
  background-color: #3B7E7B;
}

.tours-form__submit-button:active {
  background-color: #627F7E;
}

@media screen and (max-width: 780px) {
  .tours-form__submit-button {
    min-width: 134px;
    min-height: 47px;
    margin-right: 5px;
    padding: 12px 29.5px;
  }
}