.tours-form__pseudo {
  display: inline-block;
  width: 26px;
  height: 26px;
  background-size: 26px 26px;
  background-position: left;
  background-repeat: no-repeat;
  vertical-align: middle;
}

@media screen and (max-width: 760px) {
  .tours-form__pseudo {
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  }
}