.todo-navbar__common {
  display: block;
  padding: 4px 10px;
  max-width: fit-content;
  transform: translate(-11px, 13px);
  background-color: #FFFFFF;
  border-radius: 10px;
  cursor: pointer;
}

.todo-navbar__common:hover {
  background-color: #f4f0e9;
}

@media screen and (max-width: 550px) {
  .todo-navbar__common {
    transform: translate(7px, 22px);
  }
}

@media screen and (max-width: 380px) {
  .todo-navbar__common {
    font-size: 14px;
  }
}