.todo-navbar__common {
  display: inline-block;
  min-width: 30px;
  min-height: 30px;
  border: 2px solid black;
  box-sizing: border-box;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.todo-navbar__common:hover {
  background-color: #F4F0E9;
}
