.todo-list__item {
  margin-bottom: 5px;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 20px 40px;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  display: flex;
  justify-content: end;
}

.todo-list__item:last-of-type {
  margin-bottom: 0;
}

.todo-list__item:hover {
  background-color: #F4F0E9;
}

.todo-list__item:focus {
  outline: 1px solid #A6A6A6;
}

@media screen and (max-width: 550px) {
  .todo-list__item {
    font-size: 14px;
    line-height: 18px;
    padding: 20px 10px;
  }
}