.tours-form__reset-button {
  min-width: 235px;
  min-height: 58px;
  border: 0;
  border-radius: 10px;
  padding: 15px 30px;
  background-color: #E0F0E5;
  color: #286562;
  cursor: pointer;
}

.tours-form__reset-button:hover {
  background-color: #F1F3F2;
}

.tours-form__reset-button:active {
  background-color: #D9DFDB;
}

@media screen and (max-width: 780px) {
  .tours-form__reset-button {
    min-width: 134px;
    min-height: 47px;
    padding: 12px 29.5px;
  }
}