.tours-form__agree-text {
  vertical-align: middle;
  color: #A6A6A6;
}

@media screen and (max-width: 780px) {
  .tours-form__agree-text {
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0;
  }
}